{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="admin-header-lock" id="lock-box">
    <div class="admin-header-lock-img" ><img src="{% static 'images/face.jpg' %}" height="150px" width="150px" class="userAvatar"/></div>
    <div class="admin-header-lock-name" id="lockUserName">杨超</div>
    <div class="input_btn">
        <input type="password" class="admin-header-lock-input layui-input" autocomplete="off" placeholder="请输入密码解锁.." name="lockPwd" id="lockPwd" />
        <button class="layui-btn" id="unlock">解锁</button>
    </div>
    <p>请输入“123456”，否则不会解锁成功哦！！！</p>
</div>
	<script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
<script>
    layui.use(['form','jquery',"layer"],function() {
        var form = layui.form,
            $ = layui.jquery,
            layer = parent.layer === undefined ? layui.layer : top.layer;

        // 点击解锁事件
        $("body").on("click","#unlock",function(){
            if($(this).siblings(".admin-header-lock-input").val() == ''){
                layer.msg("请输入解锁密码！");
                $(this).siblings(".admin-header-lock-input").focus();
            }else{
                if($(this).siblings(".admin-header-lock-input").val() == "123456"){
                    window.sessionStorage.setItem("lockcms",false);
                    $(this).siblings(".admin-header-lock-input").val('');
                    layer.closeAll("iframe"); ////关闭所有的iframe层
                    //layer.closeAll(); //关闭所有层

                }else{
                    layer.msg("密码错误，请重新输入！");
                    $(this).siblings(".admin-header-lock-input").val('').focus();
                }
            }
        });
        //定义回车解锁
        $(document).on('keydown', function(event) {
            var event = event || window.event;
            if(event.keyCode == 13) {
                $("#unlock").click();
            }
        });

    })
</script>

</body>
</html>